<%- include('partials/header.ejs') %>

<body>

<div class="px-4 py-5 my-5 text-center">
    <%- include('../public/img/Wheel-icon.svg') %>
    <h1 class="display-5 fw-bold text-body-emphasis">Book Notes</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Because I can't be bothered to keep track of 20 different side characters that were introduced 4 books ago</p>
      <form method="POST">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <input class="form-control" type="text" name="searchTerm" id="searchTerm" >
            <select class="form-select" name="type" id="type">
                <option select>Select the type of search</option>
                <option value="entity">Character/Faction</option>
                <option value="location">Location</option>
                <option value="event">Event</option>
            </select>
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" formaction="/search">Search</button>
          </div>
      </form>
    </div>
  </div>


<!-- <div>
    <p>Notes:</p>
    <p onclick="showMore(this)">Show more</p>
    <p style="display: none;">
        TEST TEST TEST
    </p>
</div> -->
 



    
</body>
<script>
function showMore(item) {
    var block = item.nextElementSibling;
    if (block.style.display == "none"){
        item.innerHTML = "Show Less";
        block.style.display = "block";
    }
    else{
        item.innerHTML = "Show More";
        block.style.display = "none";
    }
    // if(document.getElementById(divId).style.display == 'none'){
    //     document.getElementById(divId).style.display='block';
    // } else {
    //     document.getElementById(divId).style.display = 'none';
    // }
}
</script>

<%- include('partials/footer.ejs') %>
